<div>
  <h1 class="font-bold mb-2 text-center text-lg">
    {{ doc.docName }}
  </h1>
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">Тип документа: {{ doc.docType }}</p>
      <p class="card-text">Статус: {{ doc.status }}</p>
      <p class="card-text">
        Специальный документ: {{ doc.isSpecial ? "да" : "нет" }}
      </p>
      <p class="card-text">Адрес: {{ doc.address }}</p>
      <p class="card-text">
        Автор: {{ doc.author?.fio + ", " + doc.author?.post }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ doc.docDate }}</small>
      </p>
    </div>
  </div>
</div>
