<div class="h-100 d-flex flex-column flex-grow-1 justify-content-between">
  <div>
    <h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

    <div class="mb-2 w-100 d-flex justify-content-between">
      <input
        type="text"
        class="border py-2 px-4"
        placeholder="Filter products..."
        [(ngModel)]="term"
      />

      <button
        type="button"
        class="btn btn-primary fw-bold"
        (click)="modalService.open()"
      >
        Добавить документ
      </button>
    </div>

    <div *ngIf="filteredDocs(docsService.docs)">
      <app-doc
        *ngFor="
          let doc of filteredDocs(docsService.docs) | filterProducts: term;
          let i = index
        "
        [doc]="doc"
      ></app-doc>
    </div>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="docsService.docs.length / this.pageSize"
    [size]="pageSize"
    [windowSize]="2"
    [showFirstLastButton]="true"
    [handlePageChange]="handlePageChange"
  ></app-pagination>
</div>

<app-modal *ngIf="modalService.isVisible" title="Создание документа">
  <app-create-doc [docsService]="docsService"></app-create-doc>
</app-modal>
