<div
  class="bg-dark bg-opacity-50 position-fixed vh-100 vw-100"
  (click)="modalService.close()"
></div>

<div class="modal position-relative top-50 translate-middle-y">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title | titlecase }}</h5>
        <button
          (click)="modalService.close()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
